@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

body{
    background-color: #302C42;
    background-image: url(../images/body-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container{
    width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header{
    padding-top: 50px;
}
.header, .header__logo-link, .header__list, .header__btn-content, .hero, .pay__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    gap: 42px;
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
}
.header__item-link{
    color: white;
}
.header__btn-content{
    gap: 38px;
}
.header__btn{
    width: 155px;
    padding: 16px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    border: 2px solid white;
    border-radius: 40px;
}
.header__btn:last-child{
    border-radius: 40px;
    background: linear-gradient(90.00deg, rgba(128.7, 118.34, 175.31, 1),rgba(192.14, 183.37, 231.63, 1) 100%);
    color: #343045;
    border: none;
}


/* hero section start */

.hero-section{
    padding-top: 138px;
    padding-bottom: 100px;
}
.hero__content-wrapper{
    width: 456px;
    
}
.hero__title{
    margin-bottom: 36px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
}
.hero__text{
    margin-bottom: 66px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.hero__link{
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero__link-btn{
    width: 214px;
    padding: 16px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #343045;
    border-radius: 40px;
    background: linear-gradient(90.00deg, rgba(128.7, 118.34, 175.31, 1),rgba(192.14, 183.37, 231.63, 1) 100%);
    cursor: pointer;
}
.hero__img{
    position: relative;
}
.hero__img::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 500px;
    background-color: red;
}

/* pay section start */
.pay-section{
    margin-bottom: 63px;
}
.pay{
    padding: 25px 0;
    padding-left: 53px;
    padding-right: 80px;
    border-radius: 90px;
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) 
}
.pay__item{
    padding: 27px 0 33px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.pay__item:nth-child(2){
    padding-left: 47px;
    padding-right: 66px;
    border-left: 1px solid rgba(192, 183, 232, 0.33);
    border-right: 1px solid rgba(192, 183, 232, 0.33);
}
.pay__title{
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;  
}
.pay__text{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}